@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Open+Sans&family=Oswald:wght@700&family=Roboto&display=swap');
/* scaffolding */

button[hidden]{
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  font: inherit;
}

b {
  display: block;
  font: inherit;
}

i {
  font-style: normal;
}

a,
button {
  transition: all 0.1s ease-in;
}

a[href^="tel"] {
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  text-shadow: none;
  border: 0;
}

* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

/* General Style */

:root {
  --template-bg: [%% template-bg %%];
  --template-font : "Praxis Next", "Arial", sans-serif;
}

#ng-app,
#checkout-container,
body {
  background-color: rgba(0, 0, 0, 0);
}

.pn-template {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 940px;
  flex-direction: row;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--template-bg);
}

@media (max-width: 667px){
  .pn-template{
    flex-direction: column;
  }
}

.pn-template__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.pn-template__state {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.pn-template__state--first {
  max-width: 1000px;
}

.pn-template__state--second {
  justify-content: flex-start;
  max-width: 350px;
}

.pn-template__content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.pn-template__text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.pn-template__title {
  font-family: "Fira Sans" , Helvetica , sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.pn-template__logo {
  margin-bottom: 20px;
}

.pn-template__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pn-template__input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 25px;
}

.pn-template__email-wrapper {
  position: relative;
  width: 100%;
  padding-top: 20px;
}

@media (max-width: 650px) {
  .pn-template__email-wrapper {
    width: 100%;
  }
}

input.pn-template__email {
  width: 100%;
  margin-bottom: 25px;
  height: 45px;
  padding: 0px 0px 0px 20px;
  border-radius: 6px;
  border: 1px solid #E9E9E9;
  background: #FFF;
}

@media(max-width: 667px){
  input.pn-template__email {
    margin-bottom: 0;
  }
}

.pn-template__email::placeholder {
  font-family: "Roboto" , Helvetica sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: rgba(39, 39, 39, 0.50);
}

.pn-template__email:focus {
  outline: 0;
}

.pn-template__email-wrapper--bad input.pn-template__email {
  border: 1px solid #921a1d;
}

.pn-template__error {
  position: absolute;
  bottom: 8%;
  left: 50%;
  width: 100%;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #ee0004;
  transform: translate(-50%, 0);
}

.pn-template__error-icon {
  position: absolute;
  top: 30%;
  right: 14px;
  display: none;
  transform: translate(0, -50%);
}

.pn-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100%;
  padding: 10px 30px; 
  border-radius: 0px 1px 1px 0px;
  background: #E2050D;
  color: #FFFFFF;
  text-align: center;
  font-family: "Fira Sans" , Helvetica , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 12px */
  letter-spacing: 0.24px;
  text-transform: uppercase;
  border-radius: 6px;
}

.pn-button:hover,
.pn-button:focus {
  background-color: #a91d23;
  transition: background-color ease 0.5s;
}

.pn-button:active {
  opacity: 0.7;
  transition: opacity ease 0.5s;
}

.pn-template__description {
  font-family: "Roboto" , Helvetica , sans-serif ;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #000;
}

.pn-template__small-text,  
.pn-template__terms-link {
  font-family: "Roboto" , Helvetica , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #909090;
}

.pn-template__small-text-copy {
  text-align: center;
}

@media (max-width: 667px){
  .pn-template__small-text-copy  {
    text-align: left;
  }
}

.pn-template__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer; 
}

.pn-template__close:hover,
.pn-template__close:focus {
  opacity: 0.8;
}

@media(max-width: 667px){
  .pn-template {
    padding: 20px;
  }


  .pn-template__input-wrapper {
    gap: 25px;
  }

  .pn-template__input-container {
    flex-direction: column;
    gap: 25px;
    border-radius: 5px;
  }
  .pn-template__checkbox-group {
    position: relative;
  }

  .pn-template__checkbox {
    position: absolute;
    top: 6px;
    left: 0;
  }

  .pn-template__checkbox-label {
    padding-left: 20px;
  }

  .pn-button {
    width: 100%;
  }

  .pn-template__close {
    padding: 25px;
  }
}

.pn-template__checkbox {
  accent-color: #E2001A;
}

.pn-template__checkbox-label {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--template-font);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
}